@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/assets/SeattleBackground.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  overflow: auto;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f6f3;
  z-index: 99;
  background-color: #002142;
}

.Navbar {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 1rem;
  z-index: 100;
  color: #f3f5f2;
  background-color: #002142;
  letter-spacing: 1px;
}

.Navbar a {
  font-family: 'Josefin Sans', sans-serif;
  color: #f6f8f5;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  transition: 0.4s;
  border-radius: 10px;
  vertical-align: middle;
}

.Navbar a:hover {
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
}

.Navbar .active-menu-item {
  transform: scale(1.1);
  background-color: #002142;
}

.Navbar .active-menu-item::after {
  content: "";
  display: block;
  border-bottom: 3px solid #66b828;
  margin-top: 5px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay h3,
.overlay button {
  margin: 5px;
}

.card:hover img {
  filter: blur(2px);
}

.card:hover .overlay {
  opacity: 1;
}

.Team {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.7rem 1rem 1rem;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 99;
  background-color: #002142;
  color: #f3f5f2;
}

.member {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.member h6 {
  font-size: 16px;
}

.icons{
  display: flex;
  justify-content: center;
}

i{
  color: #f3f5f2;
  margin: 0 .5rem 0 .5rem;
}

form {
  z-index: 1000;
  margin-top: 150px;
}

.flex {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.districtMapDiv {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.districtMap {
  max-height: 60vh;
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgba(26, 26, 26, 0.8);
  border: 1px solid #66b828;
}

/* video */
.video-container {
  position: relative;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  background-color: #002142;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  
}

.hometext {
  font-family: 'Dancing Script', cursive;
  font-size: 7.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5),
    2px -2px 4px rgba(0, 0, 0, 0.5), -2px 2px 4px rgba(0, 0, 0, 0.5);}

.hometext2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5),
    2px -2px 4px rgba(0, 0, 0, 0.5), -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.z {
  display: flex;
  margin: 2rem;
}

.aboutSeattle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #002142;
  color: #fdfefc;
  max-width: 100%;
}

.aboutSeattle img {
  padding: 20px;
  margin-left: 50px;
  height: 450px;
  max-width: 500px;
}

.quiz-section {
  background-color: #002142;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.quiz-section img {
  height: 400px;
  max-width: 600px;
  margin-right: auto;
}

.quiz-section .quiz-content {
  max-width: 600px;
  margin-left: 50px;
}

.quiz-card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  color: #002142;
}

.fontabout {
  letter-spacing: .9px;
  font-weight: 400;
  margin: 0;
}

.admin-buttons {
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
}

.admin-link button {
  margin-top: 10px;
  background-color: #002142;
  color: #f4f6f3;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 5px 5px 5px rgba(26, 26, 26, 0.8);
}

.admin-link button:hover {
  transform: scale(1.05);
  transition: 0.3s;
  color: #cbf479;
  background-color: #002142;
}

.admin {
  min-height: 70vh;
}

.success,
.updated{
  color: green;
  font-weight: bold;
  margin: .5rem 0 0 0;
}

.error {
  color: red;
  font-weight: bold;
  margin: .5rem 0 0 0rem;
}
